.generic-content-container {
  p {
    font-weight: 300;
    font-size: 1.125rem;
    &:not(:last-child) {
      margin: 0 0 1.8rem 0;
    }

    @mixin atSmall {
      font-size: 1.65;
      line-height: 1.65;
    }

    a {
      font-weight: 700;
    }
  }
}